---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Who Am I? What do I want?"
	pubDate={new Date('May 20 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
        I am currently a graduate student at <b>Texas A&M</b> university with a focus in machine learning. I am interested in leveraging 
        LLMs to build intelligent systems..
    </p>
        <h4>Research Interests</h4>
    <p>
        <ul style="padding-left: 40px">
            <li style="list-style-type: disc">LLM Watermarking</li>
            <li style="list-style-type: disc">Fine-Tuning LLMs</li>
            <li style="list-style-type: disc">Reinforcement Learning with Human Feedback</li>
        </ul>
    </p>

</Layout>
